.infrastructure {
    background: url('../../Assets/images/bg-pattern-circles.svg'), linear-gradient(#2c2d3f, #3F4164);
    background-position: 50% 550%;
    background-size: calc(130%);
    background-repeat: no-repeat;




}