.body {
    background-image:
        linear-gradient(rgba(255, 143, 112, .7), #FF3D54), url(../../Assets/images/bg-pattern-intro-mobile.svg);
    background-size: calc(250%);
    background-position: center;


}