@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'UbuntuMed';
  src: url(./Assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: "UbuntuLight";
  src: url(./Assets/fonts/Ubuntu-Light.ttf);
}

@font-face {
  font-family: 'Overpass';
  src: url(./Assets/fonts/Overpass-VariableFont_wght.ttf);
  font-weight: 600;

}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





p,
li {
  font-family: 'Overpass';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h2,
h3,
h1,
h4 {
  font-family: 'Overpass';
}

button {
  font-family: 'UbuntuMed';
}